body {
  background-color: lighten(#BDC3C7, 20%);
  color: #9B59B6;
    h2{
      text-align: center;
    }
  }
.nav {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: lighten(#9B59B6, 30%);
    height: 120%;
  a {
    padding-left: 2em;
    margin: auto;
    font-decoration: none;
    font-size: 1.2em;
    color: lighten(#1ABC9C, 30%);
  }
  #delete_account {
    float: right;
    padding-right: 2em;
  }
}

.center {
  text-align: center;
}

article.tweets {
  width: 60%;
  margin: auto;
}
aside {
  float: right;

  .follow {
     width: 0%;
     font-size: 1em;
   }
 ul {
   list-style: none;
   }
 li {
   margin-left: 3em;
 }
}

.btn {
  background-color: lighten(#1ABC9C, 30%);
  :hover {
    background-color: lighten(#9B59B6, 30%);
  }
}


.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


.notice {
  background: #1ABC9C;
  border: 1px solid darken(#1ABC9C, 15%);
  color: #ECF0F1;
  padding: 1em;
}

div.follow {
    width: 45%;
    float: left;
    border:red;

  }
  h3 {
    border: solid, 1px, #1ABC9C;
  }
  ul{
    list-style: none;
  }
