body {
  background-color: #293e6a;
  color: white;

  h1 {
      text-align: center;
      font-family: 'Clicker Script', cursive;
        color: #b6a754;
    }
    h3 {
      text-align: left;
      font-family: 'Clicker Script', cursive;
      color: #b6a754;
  }
  h4 {
    text-align: left;
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    color: #b6a754;

}
  }

    .panel {
      background-color: #639bf1;
      border: solid 1px #639bf1;
      height: 75%;
      p {
        color: white;
        font-family: 'EB Garamond', serif;
      }
      h5{
        font-family: 'EB Garamond', serif;
        font-size: 24px;
        text-align: center;
      }
      h6 {
        font-family: 'EB Garamond', serif;
        font-size: 18px;
        float: left;
        display: inline;
        padding-right: 50%;
      }
    }

.nav {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:#639bf1;
    height: 120%;
    font-family: 'Clicker Script', cursive;
    text-align: center;
    font-size: 24px;
  a {
    padding-left: 2em;
    margin: auto;
    font-decoration: none;
    font-size: 1.2em;
    color: white;
  }
  #delete_account {
    float: right;
    padding-right: 2em;
  }
}

.center {
  text-align: center;
}

article.tweets {
  width: 60%;
  margin: auto;

}
aside {
  float: right;

  .follow {
     width: 0%;
     font-size: 1em;
   }
 ul {
   list-style: none;
   }
 li {
   margin-left: 3em;
 }
}

.btn {
  background-color: #77ba9b;
  border: solid 1px #77ba9b;
}


.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


.notice {
  background: #1ABC9C;
  border: 1px solid darken(#1ABC9C, 15%);
  color: #ECF0F1;
  padding: 1em;
}

div.follow {
    width: 45%;
    float: left;
    border:red;

  }
  h3 {
    border: solid, 1px, #1ABC9C;
  }
  ul{
    list-style: none;
  }

  #frontpage {
    background-color: #ECF0F1;
    margin-left: 1%;
  }
